/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	height:100%;
	line-height: 1;
	background-color: lig;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset css */

h3 {
	text-align: center;
}

#bodyContainer {
	width: 100%;
	height: 95%;
	background-color: lightgray;
	display: flex;
}

#serverList {
	width: 18%;
	height: 100%;
	background-color: #6495ed;
}

#containerMessage {
	width: 82%;
	height: 100%;
	overflow: scroll;
	overflow-x: visible;
	word-wrap: break-word;
	background-color: lightgray;
}

#messages {
	height: 100%;
	background-color: lightgray;
}

.message {
	padding: 10px;
	max-width: 33%;
	border-radius: 10%;
	background-color: #6495ed;
}

.messageRight {
	margin-right: 10px;
	width: auto;
	float: right;
	clear: both
}

.messageLeft {
	margin-left: 10px;
	float: left;
	clear: both;
}

#chatForm{
	position: fixed;
	display: flex;
	bottom: 0;
	width: 100%;
	height: 5%;
}

#input {
	width: 90%;
	padding: 0.5%;
	background-color: lightgray;
}

#submitButton{
	width: 10%;
	padding: 0.5%;
	border: 1px solid #404040;
}

#servers {
	list-style: decimal;
	list-style-position: inside;
}

.serverListItem {
	margin-top: 10px;
	cursor: pointer;
}